In [ ]:
Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, 
and 42. Then, print the series.

In [1]:
import pandas as pd
ds = pd.Series([4, 8, 15, 16, 23,42])
print(ds)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In [ ]:
Q2. Create a variable of list type containing 10 elements in it, and apply
pandas.Series function on the variable print it.

In [2]:
import pandas as pd
people_list = ['Jon','Mark','Maria','Jill','Jack']
my_series = pd.Series(people_list)
print(my_series)

0      Jon
1     Mark
2    Maria
3     Jill
4     Jack
dtype: object

In [ ]:
Q3. Create a Pandas DataFrame that contains the following data:
Then, print the DataFrame.

Name	  Age	Gender
Alice	  25	Female
Bob	      30	Male
Clarie	  27	Female

In [3]:
import pandas
food_input={
                  'Name':['Alice','Bob','charlie'],
                  'Age':[25,30,27],
                  'Gender':['female','male','female']}
dataframe=pandas.DataFrame(food_input,index = ['1', '2', '3'])
print(dataframe)

      Name  Age  Gender
1    Alice   25  female
2      Bob   30    male
3  charlie   27  female

In [ ]:
Q4. What is ‘DataFrame’ in pandas and how is it different from pandas series?
Explain with an example.

DataFrame is a 2-dimensional labeled data structure with columns of potentially different types.
You can think of it like a spreadsheet or SQL table, or a dict of Series objects.
It is generally the most commonly used pandas object. The DataFrame actually consists of Index 
objects for the axes labels (row and column labels) and Series objects for the column data.
The Series object provides encapsulation for each of the column data
(which is held in a one dimensional numpy. ndarray ), with row labels and the column label.
Series is 1-Dimentional  where as dataframe is 2-Dimentional .
Type of Data – series Homogeneous – All elements must be of same data type.
where as dataframe is  Heterogeneous – DataFrame objects can have different data types. 
Mutability- series  Size- Immutable: Size of a series object, once created, cannot change.
where as  dataframe  Size – Mutable : We can drop or add the elements in an existing dataframe object.

In [ ]:
Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame?
Can you give an example of when you might use one of these functions?

The Pandas apply() function can be used to apply a function on every value in a column 
or row of a DataFrame, and transform that column or row to the resulting values.
By default, it will apply a function to all values of a column.
Pandas Functions to get Deeper Insights into the Dataset:
1 . isnull() This function helps you to check if there in which row and which column 
your data has missing values. ...
2. fillna() This function is used to replace missing values or NaN in the df with
user-defined values. ...
3. sort_values() ...
4. df.value_counts()

In [ ]:
Q6. Which of the following is mutable in nature Series, DataFrame, Panel?

All Pandas data structures are value mutable (can be changed) and
except Series all are size mutable.

In [ ]:
Q7. Create a DataFrame using multiple Series. Explain with an example.

You can create a DataFrame from multiple Series objects by adding each series as a columns.
By using concat() method you can merge multiple series together into DataFrame. 
This takes several params, for our scenario we use list that takes series 
to combine and axis=1 to specify merge series as columns instead of rows.