In [ ]:
Q1. List any five functions of the pandas library with execution.

1.	Read  Data
We can read data in pandas data frame as read_csv().
Two most used data read formats are csv and excel.
If we are reading data in excel format, we can also give sheet names as follows. 
There are other less used options of other file types too.
import  pandas  as  pd
df = pd.read_csv('services.csv')
df1=pd.read_excel("LUSID Excel - Setting up your market data.xlsx")

2.Head & Tail
 To see the data frame we can use df.head().
Head returns the first rows, if no input is given it will always show above 5 rows.
In contrast to see below rows, we can use df.tail().
df.head(3)

3.Shape, Size and Info
Two most basic functions after reading data is to know the number of rows and columns,
and to know the datatype of variables. We can use df.shape, it gives a total number of
rows and then columns. df.size() returns the number of rows times number of columns in
the data frame. We can also use df.info(), from that we get different information such
as rows from RangeIndex, Data columns and then data type of each column. 
It also includes the information of non-null counts.

4.Describe
Then to understand basic statistics of variables we can use df.describe().
It will give you count, mean, standard deviation, and also 5 number summary.

5.Columns :To know the names of all the variables in a data frame, we can use df.columns.

In [ ]:
Q2. Given a Pandas DataFrame df with columns 'A', 'B', and 'C', write a Python function to re-index the
DataFrame with a new index that starts from 1 and increments by 2 for each row.

In [1]:
import pandas as pd
import numpy as np
column=['a','b','c','d','e']
index=['A','B','C','D','E']
 
# create a dataframe of random values of array
df1 = pd.DataFrame(np.random.rand(5,5),
            columns=column, index=index)
print(df1)
print('\n\nDataframe after reindexing rows: \n',
df1.reindex(['B', 'D', 'A', 'C', 'E']))

          a         b         c         d         e
A  0.910600  0.577678  0.128438  0.753681  0.230772
B  0.862499  0.520784  0.735319  0.096913  0.505757
C  0.741267  0.445219  0.191923  0.611064  0.960851
D  0.729264  0.719066  0.432522  0.624333  0.659631
E  0.733197  0.865554  0.421011  0.900321  0.304901


Dataframe after reindexing rows:
           a         b         c         d         e
B  0.862499  0.520784  0.735319  0.096913  0.505757
D  0.729264  0.719066  0.432522  0.624333  0.659631
A  0.910600  0.577678  0.128438  0.753681  0.230772
C  0.741267  0.445219  0.191923  0.611064  0.960851
E  0.733197  0.865554  0.421011  0.900321  0.304901

In [ ]:
Q3. You have a Pandas DataFrame df with a column named 'Values'. Write a Python function that
iterates over the DataFrame and calculates the sum of the first three values in the 'Values' column. The
function should print the sum to the console.
For example, if the 'Values' column of df contains the values [10, 20, 30, 40, 50], your function should
calculate and print the sum of the first three values, which is 60.

In [1]:
import pandas as pd
data = [10,20,30,40,50]
df = pd.DataFrame(data)
print(df.iloc[:3].sum())

0    60
dtype: int64

In [ ]:
Q4. Given a Pandas DataFrame df with a column 'Text', write a Python function to create a new column
'Word_Count' that contains the number of words in each row of the 'Text' column.

In [2]:
import numpy as np
import pandas as pd

words = ['hello', 'goodbye', 'howdy', 'hello', 'hi', 'bye']

pd.value_counts(np.array(words))

hello      2
goodbye    1
howdy      1
hi         1
bye        1
dtype: int64

In [ ]:
Q5. How are DataFrame.size() and DataFrame.shape() different?

The size of the DataFrame is nothing but the number of rows * the number of columns. 
When it comes to Pandas Series, it will return a number of rows. 
Using the shape attribute we can get the shape of DataFrame, which is 
nothing but the number of rows and columns as a tuple.


We can get the shape of Pandas DataFrame using the shape attribute.
The shape is nothing but a number of rows and columns of the DataFrame.
It returns a tuple where the first element is the number of rows and the second 
is the number of columns

In [ ]:
Q6. Which function of pandas do we use to read an excel file?
The  function of pandas we use to read an excel file are:
1.	Pandas  module  read_excel() function  reads the excel 
sheet data into data frame  object.
2.	An excel  sheet  is the two dimensional  table  and the dataframe
object  represents  the two dimensional tabular view.
3.	We can  get  the header  details  from the excel sheet.
4.	We can also specify the columns to be  read  from the excel sheet.
5.	Pandas read_excel() function is used for reading the Excel files. 
Files can be imported using a URL link or can be directly imported from the disk.
There are different parameters like io for path,sheet_name for specifying the name 
of the sheet, etc., for reading the file.
6.	The dataframe  object  has various useful  methods  to convert the excel  data 
into CSV, Dict, or JSON  representation.

In [ ]:
Q7. You have a Pandas DataFrame df that contains a column named 'Email' that contains email
addresses in the format 'username@domain.com'. Write a Python function that creates a new column
'Username' in df that contains only the username part of each email address.
The username is the part of the email address that appears before the '@' symbol. For example, if the
email address is 'john.doe@example.com', the 'Username' column should contain 'john.doe'. Your
function should extract the username from each email address and store it in the new 'Username'
column.

In [3]:
import pandas as pd
import re as re
pd.set_option('display.max_columns', 10)
df = pd.DataFrame({
    'name_email': ['Alberto Franco af@gmail.com','Gino Mcneill gm@yahoo.com','Ryan Parkes rp@abc.io', 'Eesha Hinton', 'Gino Mcneill gm@github.com']
    })
print("Original DataFrame:")
print(df)
def find_email(text):
    email = re.findall(r'[\w\.-]+@[\w\.-]+',str(text))
    return ",".join(email)
df['email']=df['name_email'].apply(lambda x: find_email(x))
print("\Extracting email from dataframe columns:")
print(df)

Original DataFrame:
                    name_email
0  Alberto Franco af@gmail.com
1    Gino Mcneill gm@yahoo.com
2        Ryan Parkes rp@abc.io
3                 Eesha Hinton
4   Gino Mcneill gm@github.com
\Extracting email from dataframe columns:
                    name_email          email
0  Alberto Franco af@gmail.com   af@gmail.com
1    Gino Mcneill gm@yahoo.com   gm@yahoo.com
2        Ryan Parkes rp@abc.io      rp@abc.io
3                 Eesha Hinton
4   Gino Mcneill gm@github.com  gm@github.com

In [ ]:
Q8. You have a Pandas DataFrame df with columns 'A', 'B', and 'C'. Write a Python function that selects
all rows where the value in column 'A' is greater than 5 and the value in column 'B' is less than 10. The
function should return a new DataFrame that contains only the selected rows.
For example, if df contains the following values:
A B C
0 3 5 1
1 8 2 7
2 6 9 4
3 2 3 5
4 9 1 2

Your function should select the following rows: A B C
1 8 2 7
4 9 1 2
The function should return a new DataFrame that contains only the selected rows.

In [4]:
df=pd.DataFrame({'A':[3,8,6,2,9],'B':[5,2,9,3,1],'C':[1,7,4,5,2]})
df
df[df.A > 5]

   A  B  C
1  8  2  7
2  6  9  4
4  9  1  2

In [ ]:

Q9. Given a Pandas DataFrame df with a column 'Values', write a Python function to calculate the mean,
median, and standard deviation of the values in the 'Values' column.

In [5]:
import pandas as pd
import numpy as np
exam_data  = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
        'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
        'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

df = pd.DataFrame(exam_data , index=labels)
print("\nMean score for each different student in data frame:")
print(df['score'].mean())
print("\n median score for each different student in data frame:")
print(df['score'].median())
print("\n standard deviaton for each different student in data frame:")
print(df['score'].std())

Mean score for each different student in data frame:
13.5625

 median score for each different student in data frame:
13.5

 standard deviaton for each different student in data frame:
4.6937458388796465

In [ ]:
Q10. Given a Pandas DataFrame df with a column 'Sales' and a column 'Date', write a Python function to
create a new column 'MovingAverage' that contains the moving average of the sales for the past 7 days
for each row in the DataFrame. The moving average should be calculated using a window of size 7 and
should include the current day.

In [6]:

import pandas as pd

# Create a DataFrame containing the daily stock prices for the month of January 2023
dates = pd.date_range(start='1/1/2023', end='1/31/2023', freq='D')
sales = [100, 105, 110, 115, 120, 118, 116, 114, 112, 115,
                  117, 119, 121, 120, 118, 116, 114, 112, 110, 108,
                  106, 107, 109, 111, 113, 115, 117, 119, 121, 123]
df = pd.DataFrame({'sales': sales}, index=dates)

# Calculate the 5-day simple moving average of the closing prices
sma = df['sales'].rolling(window=7).mean()

# Print the DataFrame containing the closing prices and the SMA
print(df.join(sma, rsuffix='_SMA'))

ValueError: Length of values (30) does not match length of index (31)

In [ ]:
Q11. You have a Pandas DataFrame df with a column 'Date'. Write a Python function that creates a new
column 'Weekday' in the DataFrame. The 'Weekday' column should contain the weekday name (e.g.
Monday, Tuesday) corresponding to each date in the 'Date' column.
For example, if df contains the following values:
Date
0 2023-01-01
1 2023-01-02
2 2023-01-03
3 2023-01-04
4 2023-01-05
Your function should create the following DataFrame:

Date Weekday
0 2023-01-01 Sunday
1 2023-01-02 Monday
2 2023-01-03 Tuesday
3 2023-01-04 Wednesday
4 2023-01-05 Thursday
The function should return the modified DataFrame.

In [7]:
import pandas as pd
import datetime

df = pd.DataFrame({'Date':['2023-01-01','2023-01-02','2023-01-03','2023-01-04','2023-01-05'],'Number':[1,2,3,4,5]})

df['Day'] = pd.DatetimeIndex(df['Date']).day_name() # week day name
df.head()

         Date  Number        Day
0  2023-01-01       1     Sunday
1  2023-01-02       2     Monday
2  2023-01-03       3    Tuesday
3  2023-01-04       4  Wednesday
4  2023-01-05       5   Thursday

In [ ]:
Q12. Given a Pandas DataFrame df with a column 'Date' that contains timestamps, write a Python
function to select all rows where the date is between '2023-01-01' and '2023-01-31'.

In [8]:
import numpy as np
import pandas as pd

df = pd.DataFrame(np.random.random((200,3)))
df['date'] = pd.date_range('2023-1-1', periods=200, freq='D')
df = df.set_index(['date'])
print(df.loc['2023-1-1':'2023-1-31'])

                   0         1         2
date
2023-01-01  0.171097  0.642989  0.025573
2023-01-02  0.641217  0.876356  0.334333
2023-01-03  0.392481  0.403161  0.729793
2023-01-04  0.513377  0.814954  0.554052
2023-01-05  0.951855  0.616768  0.645496
2023-01-06  0.885870  0.430398  0.751211
2023-01-07  0.119748  0.669723  0.952834
2023-01-08  0.468187  0.391271  0.730461
2023-01-09  0.679269  0.044789  0.426251
2023-01-10  0.465058  0.085663  0.986159
2023-01-11  0.457752  0.539787  0.540008
2023-01-12  0.067994  0.342276  0.799321
2023-01-13  0.833715  0.529253  0.326636
2023-01-14  0.597370  0.428339  0.224373
2023-01-15  0.624968  0.781455  0.600193
2023-01-16  0.125884  0.400557  0.731332
2023-01-17  0.026050  0.301995  0.260282
2023-01-18  0.237162  0.501115  0.282602
2023-01-19  0.870245  0.605731  0.711025
2023-01-20  0.314314  0.424298  0.017710
2023-01-21  0.329580  0.262042  0.957451
2023-01-22  0.077678  0.421313  0.161814
2023-01-23  0.541094  0.039709  0.150659
2023-01-24  0.263984  0.594221  0.394899
2023-01-25  0.271356  0.654447  0.219320
2023-01-26  0.719514  0.890995  0.386532
2023-01-27  0.556687  0.164333  0.820616
2023-01-28  0.240884  0.422826  0.224693
2023-01-29  0.964693  0.302032  0.220107
2023-01-30  0.233260  0.686629  0.770049
2023-01-31  0.969454  0.145982  0.556381

In [ ]:
Q13. To use the basic functions of pandas, what is the first and foremost 
necessary library that needs to be imported?

Pandas is built on top of two core Python libraries—matplotlib for data visualization
and NumPy for mathematical operations. Pandas acts as a wrapper over these libraries, 
allowing you to access many of matplotlib's and NumPy's methods with less code.